@font-face
  font-family: Poppins
  src: url('assets/Poppins-Regular.ttf') format('truetype')

@font-face
  font-family: "Open Sans"
  src: url('assets/OpenSans-VariableFont.ttf') format('truetype')



*
  box-sizing: border-box
  padding: 0
  margin: 0

body,html,#root
  width: 100%
  height: 100%
  overflow: hidden
