@font-face
  font-family: Poppins
  src: url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@500&display=swap')

@font-face
  font-family: "Open Sans"
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap")


*
  box-sizing: border-box
  padding: 0
  margin: 0

body,html,#root
  width: 100%
  height: 100%
  overflow: hidden
