$bg-color-theme-dark: #202124
$text-colour-theme-dark: #fdfdfd
$active-colour-theme-dark: rgba(0,170,255,0.75)
$light-gray-colour-theme-dark: #757575
$lighter-gray-colour-theme-dark: #2b2d30


$header-height: 8vh
$form-height: 8vh
$chat-height-desktop: 94vh





.ChatPage
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background: $bg-color-theme-dark


.Chat
  box-sizing: content-box
  width: 100vw
  height: 100vh
  display: flex
  flex-flow: column
  border: 2px solid $light-gray-colour-theme-dark

  *
    box-sizing: border-box

.Chat_Header
  width: 100%
  height: $header-height
  display: flex
  flex-flow: row
  border-bottom: 2px solid $light-gray-colour-theme-dark


.Chat_MessageForm
  background: $lighter-gray-colour-theme-dark
  width: 100%
  display: flex
  flex-flow: row
  height: $form-height
  border-top: 2px solid $light-gray-colour-theme-dark

.Chat_Header_back
  width: $header-height
  height: $header-height
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  font-size: 2rem
  font-weight: bold
  color: $light-gray-colour-theme-dark
  transition: all .1s

.Chat_Header_back:hover
  color: $text-colour-theme-dark

.Chat_Header_title
  height: $header-height
  width: calc(100vw - $header-height - $header-height)
  display: flex
  justify-content: center
  align-items: center
  font-family: Poppins, sans-serif
  color: $light-gray-colour-theme-dark
  cursor: default
  transition: all .1s

.Chat_Header_title:hover
  color: $text-colour-theme-dark

.Chat_Header_logout
  height: $header-height
  width: $header-height
  background: none
  border: none
  outline: none
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  color: $light-gray-colour-theme-dark
  transition: all .1s

.Chat_Header_logout:hover
  color: $text-colour-theme-dark

.Chat_MessageForm_textInput
  margin: 0.5vh
  height: calc($form-height - 0.5vh - 0.5vh - 1px)
  width: calc( 100vw - $form-height - 0.5vh - 0.5vh)
  border-radius: calc(10px - 0.5vh)
  border: 2px solid $light-gray-colour-theme-dark
  outline: none
  color: $text-colour-theme-dark
  padding: 0.5em
  font-family: "Open Sans", sans-serif
  font-size: 0.8rem
  background: none
  resize: none

.Chat_MessageForm_sendButton
  height: $form-height
  width: $form-height
  cursor: pointer
  background: none
  border: none
  outline: none
  color: $text-colour-theme-dark
  margin: 0


.Chat_Feed
  background: none
  width: 100%
  height: calc(100vh - $header-height - $form-height)
  display: flex
  flex-direction: column-reverse
  padding: 1vw
  overflow-y: auto

.Chat_Feed::-webkit-scrollbar
  display: none



.Chat_Feed_Messages
  background: none
  height: min-content
  display: flex
  flex-direction: column


@media screen and (min-width: 700px)
  .Chat
    width: 40vw
    height: $chat-height-desktop
    border-radius: 10px
  .Chat_Feed
    height: calc($chat-height-desktop - $header-height - $form-height)
  .Chat_Header
    border-radius: 10px 10px 0 0
  .Chat_MessageForm
    border-radius: 0 0 10px 10px
  .Chat_Header_title
    width: calc(40vw - $header-height - $header-height)
  .Chat_MessageForm_textInput
    width: calc( 40vw - $form-height - 0.5vh - 0.5vh)


  .Chat_Feed::-webkit-scrollbar
    width: 7px
    display: initial



  .Chat_Feed::-webkit-scrollbar-thumb
    background-color: #454545
    border-radius: 1000px



