@use "../../abstracts/colors" as *
@use "../../abstracts/sizes" as *


$header-height: max(8vh, calc(0.08 * $min-height), 60px)
$form-height: max(8vh, calc(0.08 * $min-height), 60px)
$chat-height-desktop: max(94vh, calc(0.94 * $min-height))
$input-margin: 0.2rem


@mixin chat-theme($primary-color, $secondary-color, $tertiary-color, $active-color, $text-color)

  background: $primary-color

  .Chat
    border: 2px solid $secondary-color
  .Chat_Header
    border-bottom: 2px solid $secondary-color
  .Chat_MessageForm
    background: $tertiary-color
    border-top: 2px solid $secondary-color
  .Chat_Header_back
    color: $secondary-color
  .Chat_Header_back:hover
    color: $text-color
  .Chat_Header_title
    color: $text-color
  .Chat_Header_logout
    color: $secondary-color
  .Chat_Header_logout:hover
    color: $text-color
  .Chat_MessageForm_textInput
    border-color: $secondary-color
    color: $text-color
  .Chat_MessageForm_sendButton
    color: $text-color


.dark_mode
  @include chat-theme($primary-color-theme-dark, $secondary-colour-theme-dark, $tertiary-colour-theme-dark, $active-colour-theme-dark, $text-colour-theme-dark)


.light_mode
  @include chat-theme($primary-color-theme-light, $secondary-colour-theme-light, $tertiary-colour-theme-light, $active-colour-theme-light, $text-colour-theme-light)
  .Chat_MessageForm_textInput
    background: $primary-color-theme-light
  .Chat_MessageForm_sendButton
    color: $primary-color-theme-light

.ChatPage
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center


.Chat
  box-sizing: content-box
  width: 100vw
  height: 100vh
  display: flex
  flex-flow: column
  *
    box-sizing: border-box

.Chat_Header
  width: 100%
  height: $header-height
  display: flex
  flex-flow: row


.Chat_MessageForm
  width: 100%
  display: flex
  flex-flow: row
  height: $form-height

.Chat_Header_back
  width: $header-height
  height: $header-height
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  font-size: 2rem
  font-weight: bold
  transition: all .1s



.Chat_Header_title
  height: $header-height
  width: calc(100vw - $header-height - $header-height)
  display: flex
  justify-content: center
  align-items: center
  font-family: Poppins, sans-serif
  cursor: default
  transition: all .1s


.Chat_Header_logout
  height: $header-height
  width: $header-height
  background: none
  border: none
  outline: none
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  transition: all .1s



.Chat_MessageForm_textInput
  margin: $input-margin
  height: calc($form-height - $input-margin - $input-margin - 1px)
  width: calc( 100vw - $form-height - $input-margin - $input-margin)
  border-radius: calc(10px - $input-margin)
  border: 2px solid
  outline: none
  padding: 0.5em
  font-family: "Open Sans", sans-serif
  font-size: 0.8rem
  background: none
  resize: none

.Chat_MessageForm_sendButton
  height: $form-height
  width: $form-height
  cursor: pointer
  background: none
  border: none
  outline: none
  margin: 0


.Chat_Feed
  background: none
  width: 100%
  height: calc(100vh - $header-height - $form-height)
  display: flex
  flex-direction: column-reverse
  padding: 1vw
  overflow-y: auto

.Chat_Feed::-webkit-scrollbar
  display: none



.Chat_Feed_Messages
  background: none
  height: min-content
  display: flex
  flex-direction: column





@media screen and (min-width: 700px)

  .ChatPage
    min-height: $min-height
    overflow-y: auto

  .Chat
    width: 40vw
    height: $chat-height-desktop
    border-radius: 10px
  .Chat_Feed
    height: calc($chat-height-desktop - $header-height - $form-height)
  .Chat_Header
    border-radius: 8px 8px 0 0
  .Chat_MessageForm
    border-radius: 0 0 8px 8px
  .Chat_Header_title
    width: calc(40vw - $header-height - $header-height)
  .Chat_MessageForm_textInput
    width: calc( 40vw - $form-height - $input-margin - $input-margin)


  .Chat_Feed::-webkit-scrollbar
    width: 7px
    display: initial



  .Chat_Feed::-webkit-scrollbar-thumb
    background-color: #454545
    border-radius: 1000px



