@use "../../abstracts/colors" as *


@mixin message-theme($secondary-color, $active-color, $text-color)
  .Message_author
    color: $secondary-color
  .Message_Content_text
    color: $text-color
  .Message_author__client
    color: $active-color

.light_mode
  @include message-theme($secondary-colour-theme-light, $active-colour-theme-light ,$text-colour-theme-light)

.dark_mode
  @include message-theme($secondary-colour-theme-dark, $active-colour-theme-dark, $text-colour-theme-dark)


.Message
  font-family: "Open Sans", sans-serif
  max-width: 70%
  display: flex
  flex-flow: column
  word-break: break-all



.Message__right
  align-self: end


.Message_author
  font-size: 1.1rem
  cursor: default

.Message_author__client
  text-align: end

.Message_Content
  display: flex
  overflow-wrap: break-word

.Message_Content__right
  justify-content: end

.Message_Content_text
  font-size: 1.1rem
  overflow-wrap: break-word

